
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akaya+Telivigala&family=Alkatra:wght@400..700&family=Iansui&family=Kalam:wght@300;400;700&family=Lilita+One&family=Merienda:wght@300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iansui&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
html {
  font-size: 62.5%;
  width:100%; margin: 0;
  padding: 0;   

}

body {  overflow-x: hidden;

  margin: 0; width:100%;
  font-family: -apple-system, BlinkMacSystemFont, "tajawal", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tajawal-light {
  font-family: "tajawal", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal-bold {
  font-family: "tajawal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "tajawal", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-20 15:43:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-20 15:58:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-expand {
  transition-delay: 2s;
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}


.en-ltm-ptext p{
  font-family: "Iansui", sans-serif !important;
}
.en-ltm-font{
  color: #ffb433 !important;
  font-size: 5rem !important;
  font-weight: bold !important;
  font-family: "Merienda", sans-serif !important;
  font-weight: 400;
  text-align: left;
}
.en-ltm-font h3{
  color: #ffb433 !important;
  font-size: 5rem !important;
  font-weight: bold !important;
  font-family:  "Merienda", cursive !important;
 
}
.en-ltm-cat   {
  font-family: Iansui !important;
  
}
.en-ltm-cat p   {
  font-family: Iansui !important;
  
}
.en-ltm-cat   {
/* height: rem;   */
}

.text-primary {
   color: #1e98ee !important;
}

@media (max-width: 767px) {
  .text-primary{
      font-size: 3rem !important;
      margin-top: 0px;
  }
}
@media (max-width: 400px) {
  .text-primary{
      font-size: 2rem !important;
      margin-top: 0px;
  }
}



.ar-ltm-ptext p{
  font-family: tajawal !important;
  text-align: justify;
}
.ar-ltm-font{
  color: #ffb433 !important;
  font-size: 5rem !important;
  font-weight: bold !important;
  font-family: "tajawal", sans-serif !important;
  font-weight: 400;
  text-align: right;
}
.ar-ltm-font h3{
  color: #ffb433 !important;
  font-size: 5rem !important;
  text-align: center;
  font-weight: bold !important;
  font-family: "tajawal", sans-serif !important;
 
}